h2 {
  color: rgb(21, 17, 224);
  text-align: center;
}
body {
  background-color: turquoise;
  background-image: url("dogsbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: auto; */
  background-size: cover;
  overflow-y: hidden scrollbar;
}
td {
  font-style: center;
  color: rgb(235, 79, 8);
  font-family: Arial, Helvetica, sans-serif;
}
th {
  color: red;
}
label {
  color: rgb(233, 75, 36);
  font-style: italic;
}

img {
  /* align-self: center; */
  /* padding-left: 150px; */

  height: 350px;
  width: 400px;
}
.image {
  text-align: center;
}
